/* src/components/Header.css */
.page-header {
    text-align: center;
    margin: 2px 0;
    height: 11vh;
  }
  
  .page-header h2 {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #f9f7f7;
    margin: 0;
  }
  
  .page-header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 6em;
    color: #f9f8f8;
    margin: 5px 0 0 0;
  }
  